name: Create Release

on: 
  workflow_dispatch:
  workflow_call:
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Bump version
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        npm version patch -m "Bump to %s"
        git push

    - name: Get version
      id: packageVersion
      run: echo "current-version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT           

    - name: Build Chrome Extension
      run: npm run build

    - name: Create Release Chrome
      run: cd dist && zip -r ../sendToKodi-chrome-${{ steps.packageVersion.outputs.current-version }}.zip *

    - name: Build Firefox Extension
      run: npm run build:firefox
    
    - name: Create Release Firefox
      run: cd dist && zip -r ../sendToKodi-firefox-${{ steps.packageVersion.outputs.current-version }}.zip *

    - name: Get commits since last release
      run: |
        chmod +x ./.github/scripts/get_commits.sh
        ./.github/scripts/get_commits.sh > commit_log.txt

    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: 'sendToKodi-chrome-${{ steps.packageVersion.outputs.current-version }}.zip,sendToKodi-firefox-${{ steps.packageVersion.outputs.current-version }}.zip'
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ steps.packageVersion.outputs.current-version }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        bodyFile: commit_log.txt