name: Publish to Chrome Webstore

on: [workflow_dispatch]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Get version
        id: packageVersion
        run: echo "current-version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - uses: robinraju/release-downloader@v1
        with:
          latest: true
          fileName: sendToKodi-chrome-${{ steps.packageVersion.outputs.current-version }}.zip         

      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: sendToKodi-chrome-${{ steps.packageVersion.outputs.current-version }}.zip
          extension-id: ${{ secrets.CHROME_EXTENSION_ID }}
          client-id: ${{ secrets.CHROME_CLIENT_ID }}
          client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}